.popup-container{
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 999999;
    justify-content: center;
    background-color: rgba(0,0,0,0.55);
    align-items:center;
    /* border: 1px solid black; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.popup {
    margin-bottom: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 1px 2px 15px -3px rgba(0,0,0,0.85);
    background-color: #fff;
    width: 400px;
    padding: 0 25px 25px 25px;
    
} 
/* .popup span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    margin-left: 23%;
    opacity: 0.8;
} */
.fechar{
    border: none;
    background: none;
    margin-left: 98%;
    margin-top: 2%;
    margin-bottom: 4%;
    cursor: pointer;
    color: black; 
    opacity: 0.5;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: medium;
    font-weight: 600;
    /* "Helvetica Neue",Helvetica,Arial,sans-serif */
}


.fechar:hover{
    opacity: 0.9;
}


.popup #formulario{
    padding: 10px;
}

input::placeholder {
    font-size: 12px;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
}

.input-form:focus{
border-color: #2ecc92;
}

 input.input-form{
    width: 100% !important;
  
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    /* border-radius: 0 0 2px 2px; */
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    opacity: 0.6;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */

}

.popup-container.mostrar{
    display: flex;
}

.button-form {
    /* background-image: linear-gradient(to right, #2c3e50 0%, #3498db  51%, #2c3e50  100%) */
    background-color: #2ecc92;
}
.button-form {

    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-weight: 600;
    font-size: 14px;
    /* letter-spacing: 0.1em; */
    margin-top: 6%;
    width: 103%;
    height:40px;
    border: none;
    /* margin: 10px; */
    /* padding: 15px 45px; */
    text-align: center;
    text-transform: uppercase;
    /* transition: 0.5s; */
    /* background-size: 200% auto; */
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.button-form:hover {
   background-color: #3eb789;
}

div#titulo {
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    text-align: center;
    margin-bottom: 2%;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    opacity: 0.9;
}

select#selectG {
    margin-top: 3%;
    width: 102%;
    height: 32px;
    border-radius: 5px;
    border-color: #ccc;
}

#selectG option{
    color: #333;
    opacity: 0.7;
}

#selectG option:checked{
    /* font-weight: bold; */
    display:none;
}

select#selectG:hover {
    border-color: #2ecc92;
}

small#popMsg {
    /* border: 1px solid; */
    padding: 4px;
    width: 100%;
    color: red;
    font-size: medium;
   
    /* align-items: center; */
}