div#container{
    position: absolute;
    border: 2px;

}

div#teto{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background:red; */
    top: 0px;
    left: 0px;
  }
  div#tecla{
    position: absolute;
    width: 70px;
    height: 70px;
    background:red;
    top: 80px;
    left: 80px;
  }
  div#tecla2{
    /* display: block; */
    position: absolute;
    width: 70px;
    height: 200px;
    background:red;
    /* top: 80px; */
    bottom: 5px;
    right: 0px;
  }
  canvas#video-com-flip{
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
  /*
  canvas#mapa-de-movimento{
    visibility: hidden;
  }
  
  #video{
    visibility: hidden;
  }*/